<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint' }">
  <h4 [ngStyle]="{ color: getColor() }"> Appareil : {{ appareilName }} -- statut : {{ getStatus() }}</h4>
  <a [routerLink]="[appareilId]">Détails</a>

  <div class="btn-toolbar">
    <button class="btn btn-success" 
            (click)="onSwitchOn()"
            [disabled]="appareilStatus === 'allumé'">Allumer</button>
    <button class="btn btn-danger" 
            (click)="onSwitchOff()"
            [disabled]="appareilStatus === 'éteint'">Eteindre</button>
  </div>
</li>