<li class="list-group-item" [ngClass]="{'list-group-item-success': isPostGreen(),
                                        'list-group-item-danger': isPostRed() }">
        <div class="post-title-container">
                <h4 class="post-title"
                    [ngClass]="{'text-green': isPostGreen(), 
                                'text-red': isPostRed() }"> {{ post.title }} </h4>
                <div class="post-date"> {{ post.created_at | date: 'dd/MM/yyyy, hh:mm a'}} </div>
        </div> 
        <p [ngClass]="{'text-green': isPostGreen(), 
                       'text-red': isPostRed() }"> {{ post.content }} </p>

        <button class="btn btn-success" 
                (click)="onLike()">Like it!</button>
        <button class="btn btn-danger" 
                (click)="onDontLike()">Dont like it!</button>
        <button class="btn btn-default pull-right" (click)="onDeletePost(post)">
                <span class="glyphicon glyphicon-minus"></span>
        </button>
</li>
